doctype 5
html

	head
		link(
			rel='stylesheet', 
			href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
		)

	body(class='container-fluid')

		h1 Index

		ul
			li: a(href='/instagram') Instagram
			li: a(href='/mailchimp') Mailchimp