doctype 5
html

	head
		link(
			rel='stylesheet', 
			href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
		)

	body

		h1 Mailchimp

		hr

		form(action='/mailchimp', method='post')

			legend Subscribe newsletter

			input(name='firstname', placeholder='Your firstname', type='text')

			input(name='lastname', placeholder='Your lastname', type='text')

			button(class='btn btn-default') Subscribe